<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_mybatis_board.board.mapper.BoardMapper">

    <insert id="boardInsert">
        insert into boards (title, content, writer, dueDate, userid)
        values (#{title}, #{content}, #{writer}, #{dueDate}, #{userid})
    </insert>

    <select id="boardFindAll" resultType="com.example.spring_mybatis_board.board.domain.Board">
        select * from boards
    </select>

    <select id="boardDetail" resultType="com.example.spring_mybatis_board.board.domain.Board">
        select * from boards where id = #{id}
    </select>

    <select id="boardSearch" resultType="com.example.spring_mybatis_board.board.domain.Board">
        select * from boards where title like CONCAT('%', #{searchkey}, '%')
    </select>

    <delete id="boardDelete" >
        delete from boards where id = #{id}
    </delete>

    <update id="boardUpdate">
        update boards
        set title = #{board.title},
            content = #{board.content},
            writer = #{board.writer},
            dueDate = #{board.dueDate}
        where id = #{id}
    </update>


</mapper>
